body{
	background-color: #303841;
}
h1{
	color: white;
	font-weight: bold;
	text-align: center;
}
h2{
	color: red;
	font-style: italic;
	text-align: center;
}
nav{
	background-color: red;
	color: white;
	position: fixed;
	width: 100%;
	top: 0px;

}
.a1{
	color: white;
	text-decoration: none;
	float: right;
	padding: 10px;

}
.i1{
	width: 400px;
	height: 300px;

}
a{
	text-align: center;
	color: white;
}
.d1{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
.d2{
	float: left;
	padding: 20px;
	justify-content: space-between;
}
.i2{
	width: 400px;
	height: 300px;

}
.i3{
	width: 400px;
	height: 300px;
	
}
.i4{
	width: 400px;
	height: 300px;

}
.i5{
	width: 400px;
	height: 300px;

}
.i6{
	width: 400px;
	height: 300px;

}
h3{
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}
button{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
